
  .contact {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 50px; 
  
  }
  
  .contactUs {
    width: 600px;
    height: 200;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .container h2 {
    margin-top: 0;
    padding: 20%;
  }
  
  .container p {
    margin-bottom: 0;
  }
  

  
  .location {
    width: 600px;
    height: 200;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  



  
  .map {
    width: 400px;
    height: 400px;
  }