.glossary {
    background-color: #f8f8f8;
    padding: 20px;
    max-width: 800px;
    margin-left: 10rem;
    margin-right: 10rem;
}
  
  .glossary_title {
    color: #333;
    font-size: 24px;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .glossary_definition {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
  }

.glossaryWrapper {
  margin-left: 10rem;
  margin-right: 10rem;
}