.upcoming-apps{
    display: flex;
    justify-content: space-around;
}

.upcoming-apps>div{
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.upcoming-apps>div>button{
    font-size: x-large;
    border-radius: 10px;
}